body {
    font-family: 'Fira Sans', sans-serif;
}

.page-content {
    margin-top: 125px;
}

footer {
    border-top: 1px solid #C5C5C5;
    margin-top: 150px;

    p {
        color: #000000;
    }
}

.form-control {
    background-color: #E4E4E4;
}